.bg_hero{
    background-image: url("https://ik.imagekit.io/MERNFullstack/Food%20Store/Background_image1.png?updatedAt=1738119399479");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}